.nav {
	display: flex;
	align-items: center;
	gap: 20px;
}

.link {
	color: #bababa;
	position: relative;

	transition: color 0.2s linear;

	&:hover {
		color: #fff;
	}

	&.active {
		&::after {
			content: '';
			background: linear-gradient(45deg, #f2f452, #b4fd64 64%);
			border-radius: 8px;
			bottom: -6px;
			height: 2px;
			left: 0;
			position: absolute;
			width: 100%;
			z-index: -1;
		}
	}
}
